[package]
name = "devbox-sdk-server"
version = "0.1.0"
edition = "2021"

[dependencies]
axum = { version = "0.8", default-features = false, features = ["http1", "json", "ws", "multipart", "tokio", "query"] }
tokio = { version = "1", default-features = false, features = ["rt-multi-thread", "macros", "net", "fs", "process", "sync", "time", "io-util", "signal"] }
serde = { version = "1", default-features = false, features = ["derive", "std"] }
serde_json = { version = "1", default-features = false, features = ["std"] }
base64 = { version = "0.22.1", default-features = false, features = ["std"] }
futures = { version = "0.3.31", default-features = false, features = ["std"] }
rand = { version = "0.9.2", default-features = false, features = ["std", "std_rng", "thread_rng"] }
tokio-util = { version = "0.7.17", default-features = false, features = ["io"] }
tokio-stream = { version = "0.1.17", default-features = false, features = ["sync"] }
tar = { version = "0.4.44", default-features = false }
flate2 = { version = "1.1.5", default-features = false, features = ["rust_backend"] }
nix = { version = "0.30", default-features = false, features = ["signal"] }

[profile.release]
opt-level = "z"
# https://doc.rust-lang.org/cargo/reference/profiles.html#debug
# "line-tables-only"
debug = 0
lto = "fat"
codegen-units = 1
incremental = false
# panic = "unwind"
panic = "abort"
strip = "symbols"
debug-assertions = false
overflow-checks = false
